{{define "pie"}}


<footer class="flex justify-center m-auto bg-gray-800 text-center h-24 fixed bottom-0 left-0 right-0  ">
    <div class=" self-center placeholder:p-4 text-center text-neutral-700 dark:text-neutral-200">
        <a class=" dark:text-neutral-200  href="">© 2023 Copyright:Raulanto</a>
    </div>
    </footer>

</body>
</html>

{{end}}