{{define "pie"}}

<!--Piede de la pagina
<footer class="  bg-gray-800 text-center    ">
    <div class="  placeholder:p-4 text-center text-neutral-700 dark:text-neutral-200">
        © 2023 Copyright:
        <a class=" dark:text-neutral-200  href="">Raulanto</a>
        </div>
    </footer>
-->
</body>
</html>

{{end}}